html{
  overflow: hidden;
  font-family: Arial;
}

header .img{
  display: flex;
  width: 100%;
  height: 80pt;
}

body{
  background-color: rgb(221, 233, 113);
  /*background-color: #d63031;*/
}

h1{
  margin: 0 0 0 15px;
  text-align: center;
  background-color: rgb(196, 207, 91);
  /*color: rgb(80, 88, 2); dark yellow*/
}

h2{
  text-align: center;
}

p{
  margin: 0px 0 0 15px;
  font-weight: bold;
  color: black;
  /*border: solid rgb(80, 88, 2) 3px;*/
  font-size: 17px;
}

span{  
  font-weight: bold;
  color: black;
  /*padding: 40%;*/
}

footer{
  font-weight: bold;
  margin: 0px 0 0 15px;
  text-align: center;
  background-color: rgb(196, 207, 91);
  color: rgb(80, 88, 2);
}

dP{
  text-align: center;
}